{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('js/list.js') }}"></script>
	<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		th, td{
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row authPanel collapse">
		<div class="col s12">
			<div class="card horizontal">
				<div class="card-image">
					<img id="drive-logo" src="{{ asset('img/google-drive-logo.jpg') }}">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<span class="card-title">Debes iniciar sesión para ver tus archivos.</span>
					</div>
					<div class="card-action right-align">
						<button class="waves-effect waves-light btn blue accent-4 signInButton"><i class="fa fa-google left"></i>Iniciar sesión</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<ul id="tableList">
				<li style="opacity:0">
					<div class="card-panel">
						<div class="row">
							<div class="col m8">
								<h4>Archivos subidos</h4>
							</div>
							<div class="col m4">
								<button id="newFile" data-target="newFileModal" class="waves-effect waves-light btn blue accent-4 right modal-trigger" style="margin-top: 1.5rem">Nuevo Archivo</button>
							</div>
						</div>
						<table id="filesTable" class="striped highlight">
							<thead>
								<tr>
									<th>Nombre<i id="upButton" class="material-icons waves-effect right tooltipped collapse" data-position="bottom" data-delay="800" data-tooltip="Subir un nivel">arrow_upward</i></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<div class="center-align">
							<button id="nextPageButton" class="waves-effect waves-light btn blue accent-4 collapse">Siguiente</button>
							<p id="emptyFolder" class="collapse">¡La carpeta esta vacia!</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="newFileModal" class="modal">
	<div class="modal-content">
		<div class="row">
			<h5>Nuevo Archivo</h5>
			<div class="input-field">
				<input id="fileName" type="text" class="validate">
				<label for="fileName">Nombre de archivo</label>
			</div>
    	</div>
	</div>
	<div class="modal-footer">
		<button id="newFileButton" class="modal-action modal-close waves-effect btn-flat">Crear</button>
	</div>
</div>
{% endblock %}
